:root{
    --green: #C2D9C0;
    --coral: #F48364;
}

body {
    margin: 0;
}

a{
    font-family: 'Lexend';
    text-decoration: none;
    color: var(--coral);
}

h1, h2{
    font-family: 'Lexend';
    margin: 0px;
}

p{
    font-family: 'Lato';
}

.title{
    padding-top: 25px;
    text-align: center;
    width: 100%;
    height: 100px;
}

label {
    font-family: 'Lato';
    font-size: 15pt;
    display: flex;
    flex-direction: column;
}

select{
    font-family: 'Lato';
    font-size: 15pt;
    border: solid 3px;

}

input{
    border: solid 3px;
    font-family: 'Lato';
    font-size: 15pt;
}

textarea{
    width: 800px;
    border: solid 3px;
    font-size: 15pt;

}

.button{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
}
